
<!doctype html>


<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Radi's portfolio</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"href="{% static 'css/bootstrap.css' %}"  >

    <!-- Custom styles for this template -->
    
  </head>

  <body>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Job Detail</h1>
          <p class="lead text-muted">{{job.summary}}</p>
          <p>
              <a href= "{% url 'home' %}" class="btn btn-primary my-2">Back</a>
          </p>
          <img class="img-fluid img-thumbnail" src="{{job.image.url}}" alt="" height=400 width=400></img>
        </div>
      </section>

      

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}" ></script>
  </body>
</html>
